* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.pagination-container {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.btn {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid #087f5b;
  border-radius: 50%;
  /* background-color: #ffffff; */
  background: none;
}

.btn:hover {
  background-color: #087f5b;
}

.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
  stroke-width: 3;
}

.btn:hover .btn-icon {
  stroke: #ffffff;
}

.page-number:link {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #343a40;
  padding: 8px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.page-number:visited {
  background-color: #087f5b;
}

.page-number:hover,
.page-number:active {
  color: #ffffff;
  background-color: #087f5b;
}

.page-number:nth-child(4) {
  color: #ffffff;
  background-color: #087f5b;
}

span {
  font-size: 18px;
  color: #087f5b;
}
